.App {
  /* text-align: center; */
}

/* workaround to set same card height within a row,
 * solution based on proposed solution in https://github.com/ant-design/ant-design/issues/40786
 * --> https://stackblitz.com/edit/react-wf9wmw-2i6mck?file=index.css,demo.tsx */
.ant-list .ant-row>div,
.ant-list .ant-row>div,
.ant-list .ant-row .ant-col:first-child {
  display: flex;
}


.ant-list .ant-row .ant-list-item {
  flex: 1 1 auto;
}


.ant-list .ant-row .ant-list-item .ant-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}


.ant-card-cover {
  height: 100%;
  align-content: center;
  height: 100%;
  align-content: center;
}


/* end of workaround */

.ant-pagination-custom-show-all-button-container {
  display: inline-block;
  margin-inline-start: 16px;
  vertical-align: middle;
}