body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.theme-switching *,
body.theme-switching *::before,
body.theme-switching *::after {
    transition: none !important;
    animation: none !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ant-layout .ant-layout-sider-children {
    margin: 0 !important;
}

.ant-select {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    width: stretch !important;
}

.ant-menu.ant-menu-dark {
    background: #141414 !important;
}

.ant-list-header {
    border-block-end: none !important;
}

.ant-menu.ant-menu-root.ant-menu-inline {
    border-inline-end: none !important;
}

.ant-card-actions {
    background: transparent !important;
}

.sticky-footer .ant-modal-footer {
    position: sticky;
    bottom: 0;
    padding: 12px 24px;
    margin-bottom: 0px;
    z-index: 10;
}

.sticky-footer .ant-modal-content {
    padding: 20px 24px 0;
}

/* tonie article search - in searchfield display none, but in dropdown displayed */
.ant-select-dropdown img {
    height: 64px !important;
    width: 64px !important;
    object-fit: cover !important;
    display: block !important;
    margin: 8px;
}

.ant-table-cell {
    padding: 8px !important;
}

.ant-steps-item-active .ant-steps-item-title {
    font-weight: 500;
}

/* Spining for running step */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ant-steps .ant-steps-item-process.ant-steps-item-in-progress .ant-steps-item-icon {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.ant-steps .ant-steps-item-process.ant-steps-item-in-progress .ant-steps-item-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #e6f4ff;
    animation: spin 1s linear infinite;
    transform-origin: center;
}

.move-file .ant-select-selector {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* workaround missing good responsiveness of antd tables... */

.showBigDevicesOnly {
    display: none;
}

.showMediumDevicesOnly {
    display: none;
}

.showSmallDevicesOnly {
    display: block;
}

.ant-table-cell img {
    margin: -7px !important;
    width: 75px !important;
}

@media (max-width: 767px) {
    .ant-menu {
        background: transparent !important;
    }
}

@media (min-width: 767px) {
    .showSmallDevicesOnly {
        display: none;
    }

    .ant-table-cell img {
        margin: unset !important;
        width: 100px !important;
    }
}

@media (min-width: 767px) and (max-width: 1199px) {
    .showMediumDevicesOnly {
        display: block;
    }
}

@media (min-width: 1200px) {
    .showBigDevicesOnly {
        display: block;
    }
}

.ant-pagination-options-size-changer .ant-select-selection-search input {
    display: none;
}

/* workaround to set same card height within a row,
 * solution based on proposed solution in https://github.com/ant-design/ant-design/issues/40786
 * --> https://stackblitz.com/edit/react-wf9wmw-2i6mck?file=index.css,demo.tsx */
.ant-list .ant-row > div,
.ant-list .ant-row > div,
.ant-list .ant-row .ant-col:first-child {
    display: flex;
}

.ant-list .ant-row .ant-list-item {
    flex: 1 1 auto;
}

.ant-list .ant-row .ant-list-item .ant-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ant-card-cover {
    height: 100%;
    align-content: center;
}
/* end of workaround */

.pseudo-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}
