.matrix-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-color: black;
    pointer-events: none;
}

.matrix-column {
    position: absolute;
    top: -110%;
    display: flex;
    flex-direction: column;
    animation-name: matrixScroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.matrix-char {
    color: #00ff00;
    font-family: "Courier New", Courier, monospace;
    opacity: 0.75;
    user-select: none;
}

@keyframes matrixScroll {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }
    100% {
        transform: translateY(400%);
        opacity: 1;
    }
}
